#content {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#greeting-container {
    margin-top: 20px;
}

body {
    background-color:white;
    font-family: "Raleway", "Helvetica Neue", Garamond, Helvetica, Arial, sans-serif;
    text-align: center;
}

.center {
    text-align: center;
}

.row-align {
    display: flex;
}

.bio {
    width: 1400px;
    margin: 0px auto;
}

.title-bio {
    margin-top: 300px;
    margin-left: 100px;
    width: 700px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: white;
    font-family: "Raleway", "Helvetica Neue", Garamond, Helvetica, Arial, sans-serif;
}

header li , footer li{
    display: inline;
}

header li a , footer li a{
    padding: 8px;
    background-color: white;
    color: black;
    text-decoration: none;
}
